* {
  font-family: "Comic Sans MS", cursive, sans-serif
  /*see https://www.w3schools.com/cssref/css_websafe_fonts.asp*/
}

.App {
  position: absolute;
  top: 1pt; left: 1pt; bottom: 1pt; right: 1pt;
}

.Game {
    position: absolute;
    top: 1pt; left: 1pt; bottom: 1pt; right: 1pt;
    display: flex;
    flex-direction: column;
    text-align: center;
    vertical-align: text-top;
    border: 1pt solid gray;
  }

.Table {
  flex-grow: 1;
  text-align: center;
  vertical-align: middle;
  border: 1pt solid black;
}

.Card {
  border: 1pt solid red;
}

.Hand {
  left: 1pt; bottom: 1pt; right: 1pt;
  text-align: center;
  vertical-align: bottom;
  border: 1pt solid green;
  vertical-align: bottom;
}