* {
  font-family: "Comic Sans MS", cursive, sans-serif
  /*see https://www.w3schools.com/cssref/css_websafe_fonts.asp*/
}

.App {
  position: absolute;
  top: 1pt; left: 1pt; bottom: 1pt; right: 1pt;
  width: auto;
  background-color: lightgray;
  display: flex;
  flex-direction: row;
}

.Log {
  display: flex;
  flex-direction: column;
  background-color: black;
  color: beige;
  flex-shrink: 0;
  flex-grow: 0;
}

.Game {
    position: relative;
    min-width: 0pt;
    /* top: 1pt; left: 1pt; bottom: 1pt; right: 1pt; */
    display: flex;
    flex-direction: column;
    text-align: center;
    vertical-align: text-top;
    /* these for parent */
    flex-shrink: 1;
    flex-grow: 1;
  }

.Table {
  flex-grow: 1;
  text-align: center;
  vertical-align: middle;
  background-color: tan;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  overflow-x: auto;
}

.Playmat {
  margin: 2pt;
  background-color: lightblue;
  height: 48%; /* buffer a pinch for scrollbar */
  width: 48%; /* make adjustable for 2,4,6 players*/
  display: flex;
  flex-direction: row;
}

.PlayerBox {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.PlayerBox > div {
  margin-top: 1pt;
  margin-bottom: 1pt;
  margin-left: 2pt;
  margin-right: 2pt;
  border: 1pt solid lightgray;
  padding: 1pt;
}

.TextButton {
  cursor: pointer;
}

.TextButton:hover {
  /* outline: 1pt solid black; */
  box-shadow: 1pt 1pt 1pt black;
}

.Battlefield {
  background-color: lightskyblue;
  flex-grow: 1;
  position: relative;
  overflow: auto;
}

.Hand {
  /* left: 1pt; bottom: 1pt; right: 1pt; */
  text-align: center;
  vertical-align: bottom;
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  align-items: center;
  /* these for parent */
  /* flex-shrink: 1; */
  min-width: 100pt;
  min-height: fit-content;
}

.Card {
  font-size: small;

  /* need to scale these together ~ 488 × 680*/
  /* when zooming, just increase card sizes */
  border-radius: 2pt;
  min-height: 71pt;
  min-width: 51pt;
}

.Hand .Card {
  /* need to scale these together ~ 488 × 680*/
  border: 1pt solid green;
  border-radius: 4pt;
  min-height: 103pt;
  min-width: 74pt;
}

.StackPopUpBox {
  color: white;
  /* border: 1pt solid white; */
  background: black;
  position: absolute;
  left: 102%;
  z-index: 1;
}

.CardStack {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow-x: auto;
  align-items: flex-start;
  padding: 1pt;
  min-width: 122pt;
  resize: both;
  background: black;
}

.CardStack .Card {
  border-top-left-radius: 4pt;
  border-top-right-radius: 4pt;
  /* cut off to just show top */
  min-height: 17pt;
  flex-shrink: 0;
}

.Battlefield .Card {
  position: absolute;
  border: 1pt solid blue;
}

/* Tooltip container */
.buttontooltip {
  position: relative;
  display: inline-block;
}

/* Show the tooltip text when you mouse over the tooltip container */
.buttontooltip:hover .buttontooltiptext {
  visibility: visible;
  transition-delay: 1s;
}

/* Tooltip text */
.buttontooltip .buttontooltiptext {
  visibility: hidden;
  background-color: black;
  padding: 1pt;
  color: #fff;
  text-align: center;
  left:102%;
  top:0%;
  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  cursor: default;
}

.cardtooltip {
    position: relative;
    display: inline-block;
}

.cardtooltiptext {
  visibility: hidden;
}

.cardtooltip:hover .cardtooltiptext {
  visibility: visible;
  transition-delay: 1s;
  /* transition: visibility 2s; does not work */
}

.cardtooltip .cardtooltiptext {
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 1pt;
  left: 0%;
  top: 0%;
  position: absolute;
  z-index: 1;
  cursor: default;
}