* {
  font-family: "Comic Sans MS", cursive, sans-serif
  /*see https://www.w3schools.com/cssref/css_websafe_fonts.asp*/
}

.App {
  position: absolute;
  top: 0.1em; left: 0.1em; bottom: 0.1em; right: 0.1em;
  width: auto;
  background-color: lightgray;
  display: flex;
  flex-direction: row;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  box-shadow: 0pt 8pt 16pt 0pt rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  padding: 0.4em;;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  font-weight: bold; 
  cursor: pointer;
}

.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.Log {
  display: flex;
  flex-direction: column;
  background-color: black;
  color: beige;
  flex-shrink: 0;
  flex-grow: 0;
}

.Game {
    position: relative;
    min-width: 0em;
    display: flex;
    flex-direction: column;
    text-align: center;
    vertical-align: text-top;
    /* these for parent */
    flex-shrink: 1;
    flex-grow: 1;
  }

.Table {
  flex-grow: 1;
  text-align: center;
  vertical-align: middle;
  background-color: tan;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  overflow-x: auto;
}

.Playmat {
  margin: 0.1em;
  background-color: lightblue;
  min-height: 20em;
  height: 48%; /* buffer a pinch for scrollbar */
  width: 48%; /* make adjustable for 2,4,6 players*/
  display: flex;
  flex-direction: row;
}

.PlayerBox {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  user-select: none;
  min-width: 5em;
}

.PlayerBox > div {
  margin: 0.05em;
  border: 0.05em solid lightgray;
  padding: 0.05em;
}

.TextButton {
  cursor: pointer;
}

.TextButton:hover {
  box-shadow: 0.1em 0.1em 0.1em black;
}

.Battlefield {
  background-color: lightskyblue;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: auto;
}

.Hand {
  text-align: center;
  vertical-align: bottom;
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  align-items: center;
  /* these for parent */
  /* flex-shrink: 1; */
  min-width: 20em;
  min-height: fit-content;
}

.Card {
  font-size: small;

  position: absolute;
  top: 0em; left: 0em; bottom: 0em; right: 0em;

  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;

  border-width: 0.15em;
  border-style: solid;
}

.CardPopup .Card {
  flex-grow: 1;
  border-radius: 5%;
}

.DragLayer .Card {
  border-radius: 0.35em;
  min-height: 7em;
  min-width: 5em;
  opacity: 0.75;
}

.Battlefield .Card {
  border-radius: 0.35em;
  min-height: 7em;
  min-width: 5em;
}

.Hand .Card {
  /* need to scale these together ~ small image is 146 × 204*/
  border-radius: 0.75em;
  min-height: 15.3em;
  min-width: 10.95em;
}

.DragHandCard .Card { /* used for custom drag layer */
  /* need to scale these together ~ small image is 146 × 204*/
  border-radius: 0.75em;
  min-height: 15.3em;
  min-width: 10.95em;
}

.StackPopUpBox {
  color: white;
  background: black;
  position: absolute;
  left: 102%;
  z-index: 1;
}

.CardStack {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow-x: auto;
  align-items: flex-start;
  padding: 0.1em;
  background: black;
  resize: both;
}

.CardStack .Card {
  border-top-left-radius: 0.4em;;
  border-top-right-radius: 0.4em;;
  /* cut off to just show top */
  min-width: 7.3em;
  height: 10.2em;
  flex-shrink: 0;
}

/* Tooltip container */
.buttontooltip {
  position: relative;
  display: inline-block;
}

/* Show the tooltip text when you mouse over the tooltip container */
.buttontooltip:hover .buttontooltiptext {
  visibility: visible;
  transition-delay: 1s;
}

/* Tooltip text */
.buttontooltip .buttontooltiptext {
  visibility: hidden;
  background-color: black;
  padding: 0.1em;
  color: #fff;
  text-align: center;
  left:102%;
  top:0%;
  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  cursor: default;
}

.cardtooltip {
    position: relative;
    display: inline-block;
}

.cardtooltiptext {
  visibility: hidden;
}

.cardtooltip:hover .cardtooltiptext {
  visibility: visible;
  transition-delay: 1s;
  /* transition: visibility 2s; does not work */
}

.cardtooltip .cardtooltiptext {
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 0.1em;
  left: 0%;
  right: 0%;
  top: 0%;
  position: absolute;
  z-index: 1;
  cursor: default;
  display: block;
  word-wrap: break-word;
}