.App {
  position: absolute;
  top: 1pt; left: 1pt; bottom: 1pt; right: 1pt;
}

.GameView {
    position: absolute;
    top: 1pt; left: 1pt; bottom: 1pt; right: 1pt;
    display: flex;
    flex-direction: column;
    text-align: center;
    vertical-align: text-top;
    border: 1pt solid gray;
  }

  .FieldView {
    flex-grow: 1;
    text-align: center;
    vertical-align: middle;
    border: 1pt solid black;
  }

  .HandView {
    
    left: 1pt; bottom: 1pt; right: 1pt;
    text-align: center;
    vertical-align: bottom;
    border: 1pt solid green;
    vertical-align: bottom;
  }