* {
  font-family: "Comic Sans MS", cursive, sans-serif
  /*see https://www.w3schools.com/cssref/css_websafe_fonts.asp*/
}

.App {
  position: absolute;
  top: 1pt; left: 1pt; bottom: 1pt; right: 1pt;
  width: auto;
  background-color: lightgray;
  display: flex;
  flex-direction: row;
}

.Log {
  display: flex;
  flex-direction: column;
  background-color: black;
  color: beige;
  flex-shrink: 0;
  flex-grow: 0;
}

.Game {
    position: relative;
    min-width: 0pt;
    /* top: 1pt; left: 1pt; bottom: 1pt; right: 1pt; */
    display: flex;
    flex-direction: column;
    text-align: center;
    vertical-align: text-top;
    border: 1pt solid gray;
    /* these for parent */
    flex-shrink: 1;
    flex-grow: 1;
  }

.Table {
  flex-grow: 1;
  text-align: center;
  vertical-align: middle;
  border: 1pt solid black;
  background-color: tan;
}

.Hand {
  /* left: 1pt; bottom: 1pt; right: 1pt; */
  text-align: center;
  vertical-align: bottom;
  border: 1pt solid green;
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  /* these for parent */
  /* flex-shrink: 1; */
  min-width: 0pt;
}

.Card {
  border: 1pt solid brown;
  /* need to scale these together ~ 488 × 680*/
  border-radius: 4pt;
  height: 85pt;
  min-height: 85pt;
  width: 61pt;
  min-width: 61pt;
  color: pink;
}

